*{
	
	margin-top:3.6vh;
	margin-left:10.5vh;
	margin-right: calc(10.4vh - 35vw);

}

a{
	text-decoration: none;
	color: #012;
}
a:hover{
	color: #133;
}

.right_content{
	
	margin-right: 30.4vh;
	margin-left:-125vh;
	text-align:right; 
	
}

.left_content{
	
}

.headline_cursive {
	
	max-width: calc(5vh + 2vw);
	max-width: calc(25vh + 2vw);
	
	font-style: italic;
	font-weight: 400;
	font-size:calc(5.5vh + 1.5vw);	
	color: color(srgb 0.144 0.144 0.144);
	
}

.under_headline_standart{
		
	max-width: calc(35vh + 2.5vw);
	max-width: calc(45vh + 2vw);
	
	font-weight: 200;
	font-size:calc(4.5vh + 1.5vw);	
	color: color(srgb 0.144 0.144 0.144);
	
}

.text_normal{
		
	max-width: calc(35vh + 2.5vw);
	max-width: calc(45vh + 2vw);
	
	font-weight: 200;
	font-size:calc(2vh + 1.5vw);
	
}